Repository LEAP-2024-1C/Paws, pull requests merged in 2024-10, with the labels that each got.

#5 frontend: create sign up
  frontend/src/app/page.tsx
Labels: enhancement

#11 hero section
  frontend/public/img/Hero.jpeg
  frontend/src/app/page.tsx
  frontend/src/components/home/hero.tsx
  frontend/src/components/home/index.ts
  frontend/src/components/main_page/adoption-card.tsx
  frontend/src/lib/data.ts
Labels: frontend

#19 8 header footer
  frontend/package-lock.json
  frontend/public/images/logo.png
  frontend/src/app/layout.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/header/index.tsx
Labels: frontend

#29 22 donation page
  frontend/public/images/amistad.png
  frontend/public/images/donation.png
  frontend/src/app/donation/page.tsx
  frontend/src/components/donation_section/dialog.tsx
  frontend/src/components/donation_section/donation_card.tsx
  frontend/src/components/donation_section/hero.tsx
  package-lock.json
Labels: frontend

#38 donation detail
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/cat.png
  frontend/src/app/donation_detail/page.tsx
  frontend/src/components/donation_section/detail.tsx
Labels: frontend

#55 45 donation responsive desing
  frontend/src/app/donation/page.tsx
  frontend/src/app/donation_detail/page.tsx
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/donation_card.tsx
Labels: frontend

#56 donation schema
  backend/src/models/donation.model.ts
Labels: backend

#64 57 pages responsive desing
  frontend/src/app/adoption/page.tsx
  frontend/src/components/adoption_section/adoption_enquire.tsx
  frontend/src/components/adoption_section/detail_card.tsx
Labels: frontend

#67 60-sos&shop backend / controller and route added
  backend/src/controllers/shop/shop-controller.ts
  backend/src/controllers/sos/sos-controller.ts
  backend/src/index.ts
  backend/src/models/product.model.ts
  backend/src/models/sos.model.ts
  backend/src/routes/shop/shop-route.ts
  backend/src/routes/sos/sos-route.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/shop/[id]/page.tsx
  frontend/src/app/shop/page.tsx
  frontend/src/components/context/sos_context.tsx
  frontend/src/components/sos/grid_carousel.tsx
  frontend/src/components/sos/report_form.tsx
  frontend/src/components/sos/upload_picture_modal.tsx
Labels: backend

#81 72 donate pay desing
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/dialog.tsx
  frontend/src/components/donation_section/donation_card.tsx
  frontend/src/components/donation_section/pay/chash_button.tsx
  frontend/src/components/donation_section/pay/pay_card.tsx
Labels: frontend

#82 75 sos frontend set to admin
  .DS_Store
  admin/.gitignore
  admin/app/dashboard/sos/page.tsx
  admin/constants/data.ts
  admin/package-lock.json
  admin/package.json
  admin/utils/util.ts
  backend/src/controllers/sos/sos-controller.ts
  backend/src/models/sos.model.ts
  backend/src/routes/sos/sos-route.ts
  frontend/src/app/sos/[title]/page.tsx
  frontend/src/app/sos/page.tsx
  frontend/src/app/styles/SOSpage.module.css
  frontend/src/components/sos/grid_carousel.tsx
  frontend/src/components/sos/report_form.tsx
  frontend/src/components/sos/upload_picture_modal.tsx
Labels: enhancement, backend, admin

#70 donation controller/route
  backend/src/controllers/donation/donation-controller.ts
  backend/src/index.ts
  backend/src/models/donation.model.ts
  backend/src/routes/donation/donation-route.ts
  frontend/src/components/donation_section/comment.tsx
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/pay_card.tsx
Labels: backend

#89 FrontEnd enhancement
  frontend/src/app/shop/[id]/page.tsx
  frontend/src/app/shop/components/relateditems.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/sos/grid_carousel.tsx
  frontend/tailwind.config.ts
Labels: enhancement, frontend

#96 Donation update & delete
  backend/src/controllers/donation/donation-controller.ts
  backend/src/routes/donation/donation-route.ts
Labels: backend

#90 articles detail page design
  admin/components/forms/articlePost-form.tsx
  backend/src/controllers/article/article-controller.ts
  backend/src/routes/article/article-route.ts
  backend/src/routes/article/category-route.ts
  frontend/next.config.mjs
  frontend/src/app/articles/[id]/page.tsx
  frontend/src/app/articles/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/home/category_card.tsx
  frontend/src/components/home/donate_card.tsx
  frontend/src/components/home/index.ts
  frontend/src/lib/data.ts
  frontend/src/lib/types.ts
Labels: frontend
