Repository LEAP-2024-1C/Paws, pull requests merged in 2024-11, with the labels that each got.

#94 donation front&back
  backend/src/controllers/donation/donation-controller.ts
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/app/donation_detail/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/donation_card.tsx
Labels: frontend

#109 99 shopping backend
  admin/app/dashboard/pets/[petId]/page.tsx
  admin/app/dashboard/product/[productId]/page.tsx
  admin/app/dashboard/product/page.tsx
  admin/app/dashboard/sos/page.tsx
  admin/app/layout.tsx
  admin/components/context/shopping_context.tsx
  admin/components/forms/product-form.tsx
  admin/components/tables/product-tables/product-table.tsx
  admin/constants/data.ts
  admin/next.config.js
  backend/src/controllers/shop/shop-controller.ts
  backend/src/controllers/sos/sos-controller.ts
  backend/src/index.ts
  backend/src/models/sos.model.ts
  backend/src/routes/shop/shop-route.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/app/shop/[id]/page.tsx
  frontend/src/app/shop/components/productcard.tsx
  frontend/src/app/shop/components/productlist.tsx
  frontend/src/app/shop/components/relateditems.tsx
  frontend/src/app/shop/components/sidebar.tsx
  frontend/src/app/shop/page.tsx
  frontend/src/app/shop_cart/page.tsx
  frontend/src/app/wishlist/page.tsx
  frontend/src/components/context/shopping_context.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/sos/SideModal.tsx
  frontend/src/components/sos/modal.tsx
  frontend/src/components/sos/report_form.tsx
Labels: backend, admin

#114 110 admin donation
  admin/app/dashboard/donation/[donationId]/page.tsx
  admin/app/interface.ts
  admin/app/layout.tsx
  admin/components/context/donation-context.tsx
  admin/components/forms/donationPost-form.tsx
  admin/components/tables/donation-tables/cell-action.tsx
  admin/components/tables/donation-tables/donation-table.tsx
  backend/src/controllers/donation/donation-controller.ts
  backend/src/models/donation.model.ts
  backend/src/routes/donation/donation-route.ts
Labels: backend, admin

#128 donation comment front & back
  backend/src/controllers/donation/donation-controller.ts
  backend/src/models/donation.model.ts
  backend/src/routes/donation/donation-route.ts
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/components/donation_section/comment.tsx
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/dialog.tsx
  frontend/src/components/donation_section/donation_card.tsx
  frontend/src/components/donation_section/pay/pay_card.tsx
Labels: frontend, backend

#130 signup, login err fixed, started donation pay section
  admin/app/(auth)/signin/page.tsx
  admin/components/context/pets-context.tsx
  backend/src/controllers/auth-controller.ts
  backend/src/controllers/donation/donation-trans-controller.ts
  backend/src/models/transaction.model.ts
  backend/src/routes/donation/donation-route.ts
  frontend/src/app/(auth)/newpass/page.tsx
  frontend/src/app/(auth)/recoverpass/page.tsx
  frontend/src/app/(auth)/signUp/page.tsx
  frontend/src/app/(auth)/signin/page.tsx
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/donation/transaction/[id]/page.tsx
  frontend/src/components/context/adoption_context.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/interface.ts
Labels: frontend, backend

#134 donation payment, design, adoption design
  backend/src/controllers/donation/donation-trans-controller.ts
  backend/src/models/donation.model.ts
  backend/src/routes/donation/donation-route.ts
  frontend/public/images/amistad.png
  frontend/public/images/cat.png
  frontend/public/images/donation.png
  frontend/public/img/Logo (1).png
  frontend/public/img/Logo (2).png
  frontend/public/img/Logo (3).png
  frontend/public/img/Logo (4).png
  frontend/public/img/Logo.png
  frontend/public/img/Vector.png
  frontend/src/app/adoption/[id]/page.tsx
  frontend/src/app/donation/[id]/loading.tsx
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/components/adoption_section/adoption_enquire.tsx
  frontend/src/components/adoption_section/detail_card.tsx
  frontend/src/components/context/adoption_context.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/components/donation_section/comment.tsx
  frontend/src/components/donation_section/detail.tsx
  frontend/src/components/donation_section/pay/pay_card.tsx
  frontend/src/interface.ts
Labels: frontend

#135 129 donation main page desing edit
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  frontend/public/images/footer.png
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/components/donation_section/donation_card.tsx
  frontend/src/components/donation_section/hero.tsx
  frontend/src/components/footer/index.tsx
Labels: frontend, backend

#137 Shoppin cart & wishlist added and tried to add stripe payment.
  admin/components/context/shopping_context.tsx
  admin/components/forms/product-form.tsx
  admin/components/tables/product-tables/cell-action.tsx
  backend/src/controllers/shop/cart-controller.ts
  backend/src/controllers/shop/shop-controller.ts
  backend/src/controllers/shop/wishlist-controller.ts
  backend/src/index.ts
  backend/src/models/cart.model.ts
  backend/src/models/wishlist.model.ts
  backend/src/routes/shop/cart-route.ts
  backend/src/routes/shop/shop-route.ts
  backend/src/routes/shop/wishlist-route.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/shop/[id]/page.tsx
  frontend/src/app/shop/cart/page.tsx
  frontend/src/app/shop/components/productcard.tsx
  frontend/src/app/shop/components/productlist.tsx
  frontend/src/app/shop/page.tsx
  frontend/src/app/shop_cart/page.tsx
  frontend/src/app/sos/page.tsx
  frontend/src/app/wishlist/page.tsx
  frontend/src/components/context/cart_context.tsx
  frontend/src/components/context/shopping_context.tsx
  frontend/src/components/context/sos_context.tsx
  frontend/src/components/context/wishlist_context.tsx
  frontend/src/components/sos/SideModal.tsx
  frontend/src/components/sos/grid_carousel.tsx
  frontend/src/components/sos/report_form.tsx
  frontend/src/interface.ts
Labels: admin

#140 footer desing edit
  frontend/src/app/donation/page.tsx
  frontend/src/components/footer/index.tsx
Labels: frontend

#145 Main page style, login signup style, skeleton, responsive
  admin/app/(auth)/(login)/page.tsx
  admin/app/(auth)/newpass/page.tsx
  admin/app/(auth-unused)/(signin)/page.tsx
  admin/components/layout/user-nav.tsx
  admin/components/login-signUp/Desktop.tsx
  admin/components/login-signUp/LeftOverlayContent.tsx
  admin/components/login-signUp/Phone.tsx
  admin/components/login-signUp/PhoneRegister.tsx
  admin/components/login-signUp/RightOverlayContent.tsx
  admin/components/login-signUp/SigninForm.tsx
  admin/components/login-signUp/SignupForm.tsx
  admin/components/recover_pass/get_new_pass.tsx
  admin/components/recover_pass/index.tsx
  admin/components/recover_pass/loading.tsx
  backend/src/controllers/adoption/adoption-controller.ts
  backend/src/index.ts
  backend/src/middlewares/authentication.ts
  backend/src/models/donation.model.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/newpass/page.tsx
  frontend/src/app/(auth)/signUp/page.tsx
  frontend/src/app/adoption/[id]/loading.tsx
  frontend/src/app/adoption/loading.tsx
  frontend/src/app/adoption/page.tsx
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
  frontend/src/components/context/adoption_context.tsx
  frontend/src/components/donation_section/pay/pay_card.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/login-signUp/Desktop.tsx
  frontend/src/components/login-signUp/LeftOverlayContent.tsx
  frontend/src/components/login-signUp/Phone.tsx
  frontend/src/components/login-signUp/PhoneRegister.tsx
  frontend/src/components/login-signUp/RightOverlayContent.tsx
  frontend/src/components/login-signUp/SigninForm.tsx
  frontend/src/components/login-signUp/SignupForm.tsx
  frontend/src/components/main_page/adop_swiper.tsx
  frontend/src/components/main_page/hero_component.tsx
  frontend/src/components/main_page/shopping_cards.tsx
  frontend/src/components/recover_pass/get_new_pass.tsx
  frontend/src/components/recover_pass/index.tsx
  frontend/src/components/recover_pass/loading.tsx
  frontend/src/components/recover_pass/new_pass.tsx
  frontend/src/interface.ts
  tailwind.config.js
Labels: frontend

#159 153 deployment error resolve frontend enhancement
  admin/components/forms/product-form.tsx
  admin/components/tables/product-tables/product-table.tsx
  frontend/src/app/sos/page.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/sos/SideModal.tsx
  frontend/src/components/sos/grid_carousel.tsx
  frontend/src/components/sos/report_form.tsx
Labels: enhancement, frontend

#165 map
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/donation/[id]/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/shop/page.tsx
  frontend/src/components/context/donation_context.tsx
  frontend/src/components/donation_section/hero.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/header/index.tsx
  frontend/src/components/map/index.tsx
  frontend/src/components/map/map-component.tsx
  frontend/src/components/map/map-modal.tsx
  frontend/src/components/sos/grid_carousel.tsx
Labels: frontend

#166 jijig nemelt
  frontend/src/app/shop/components/productcard.tsx
  frontend/src/app/shop/components/sidebar.tsx
  frontend/src/app/shop/page.tsx
  frontend/src/app/wishlist/page.tsx
Labels: frontend
